* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "Roboto", sans-serif;
  background-color: #f3ede5;
  padding: 0 100px;
}

a {
  text-decoration: none;
}

.nav_bar {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_logo_container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav_logo {
}

.nav_list_container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav_list {
  color: #8d8e91;
}

.nav_list_dropdown_container {
  display: none;
}

.nav_list_dropdown_item {
}

.nav_list_dropdown_item_logo {
}

.nav_list_dropdown_item_description {
}

.nav_list_dropdown_item_title {
  color: #28253a;
}

.nav_list_dropdown_item_text {
  color: #a0aebe;
}

.nav_auth_button_container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav_auth_button_plain {
  margin: 0 25px 0 0;
}

.nav_auth_button_fancy {
  background-color: #133416;
  color: #fff;
  font-weight: bold;
  padding: 15px 35px;
  border: 2px solid #133416;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.nav_auth_button_fancy:hover {
  background-color: #fff;
  color: #133416;
}

.main_container {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page_copy_container {
  height: 100%;
  width: 65%;
}

.title {
}

.title_highlight {
  color: #e9ae17;
}

.text {
  color: #8d8e91;
}

.reviews_container {
  width: 100%;
  diplay: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews_logo_container {
  diplay: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero_image_container {
  width: 35%;
  border: 1px solid black;
}

.hero_image {
  transform: scale(0.5);
}

.bottom_icon_container {
}

.footer_container {
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.companies_logo_container {
  height: 100px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
